.makeBackGround {
  background-image: url("/public/MakePage/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.Q1 {
  display: flex;
  position: absolute;
  top: 0.7px;
}

.Q1 img {
  width: 10%;
  height: 10%;
  margin-top: 2.5%;
  padding-right: 0.5%;
}

.Q1 h2 {
  font-size: 20px;
  margin-top: 2.5vh;
}

#typeicon {
  position: absolute;
  width: 15vw;
  top: 8vh;
  left: 75vw;
}

#S1,
#S2 {
  margin-left: 3%;
  background-image: url("/public/MakePage/selectBackground.webp");
  width: 17vw;
  height: 50px;
  font-size: 17px;
  background-repeat: no-repeat;
  background-size: cover;
}

#S1 {
  position: absolute;
  top: 10vh;
}
#S2 {
  position: absolute;
  top: 20vh;
}

#S1 option,
#S2 option {
  font-family: "NeoDunggeunmo";
  text-align: center;
  padding: 40%;
}

/*Q2*/
.Q2 {
  display: flex;
  position: absolute;
  top: 42%;
}

.Q2 img {
  width: 10%;
  height: 10%;
  padding-right: 0.5%;
}

.Q2 h2 {
  font-size: 20px;
  margin-top: 1.5vh;
}

.make .cukemonFeature {
  display: flex;
  position: absolute;
  margin-left: 3%;
  top: 50vh;
  height: 50vh;
}

textarea {
  font-family: "NeoDunggeunmo";
}

.make .cukemonFeature .textBack {
  border: none;
  height: 12vh;
  width: 34vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/public/MakePage/textareaBackground.webp");
}

.make .cukemonFeature textarea {
  margin-left: 5%;
  margin-top: 3%;
  width: 80%;
  height: 70vh;
  border: none;
  outline: none;
  background: none;
  resize: none;
  font-size: 18px;
}

.make .cukemonFeature p {
  padding-top: 5%;
  width: 20%;
}

/* 제출 버튼 */
.submitButton {
  position: absolute;
  text-align: center;
  top: 70vh;
  left: 44vw;
}

#submit {
  background: none;
  background-image: url("/public/button.png");
  background-size: cover;
  border: none;
  width: 12vw;
  height: 5vw;
}

#submit:hover {
  background-image: url("/public/button-hover.png");
  top: 80vh;
  left: 30vw;
}

.submitButton p {
  position: absolute;
  top: 40%;
  left: 44%;
  color: white;
  pointer-events: none;
  font-size: 19px;
  white-space: nowrap;
}

.submitButton #submitButton {
  width: 43vw;
}

/*모바일 반응형*/
@media (max-width: 767px) {
  #root,
  body {
    height: 100%;
    padding: 0;
  }
  .makeBackGround {
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url("/public/MakePage/backgroundMobile.webp");
  }

  #typeicon {
    width: 38%;
    left: 50%;
    top: 18%;
  }

  .Q1 {
    top: 10%;
  }

  .Q2 {
    top: 45%;
  }

  .Q1 h2,
  .Q2 h2 {
    font-size: 4vw;
  }

  #S1 {
    top: 18%;
  }

  #S2 {
    top: 25%;
  }
  #S1,
  #S2 {
    width: 40%;
    height: 5%;
    font-size: 15px;
  }

  .make .cukemonFeature {
    padding: 0;
    margin: 0;
    width: 83vw;
    height: 45vw;
    font-size: 8px;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 3%;
  }

  .make .cukemonFeature .textBack {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/public/MakePage/selectBackground.webp");
    padding: 0;
    height: 40%;
    width: 95vw;
  }

  textarea {
    margin: 0;
    width: 100%;
    height: 2vh;
    font-size: 4vw !important;
  }

  .make .cukemonFeature p {
    padding: 0;
  }

  /* 제출 버튼 */
  .submitButton {
    left: 35vw;
  }

  #submit {
    background: none;
    background-image: url("/public/button.png");
    background-size: cover;
    border: none;
    width: 35vw;
    height: 15vw;
  }

  .submitButton p {
    font-size: 15px;
    top: 6vw;
  }
}
