/* 공통 스타일 */
.makeBackGround {
  background-image: url("/public/MakePage/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 5vh;
  padding-left: 20px;
  box-sizing: border-box;
}

.make {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Q1,
.Q2 {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.Q1 img,
.Q2 img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.Q1 h2,
.Q2 h2 {
  font-size: 1.2rem;
}

#S1,
#S2 {
  width: 10vw;
  height: 5vh;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-family: "NeoDunggeunmo";
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid #9f9f9f;
}

/* 특징 입력창 */
.cukemonFeature {
  width: 100%;
  margin-top: 2rem;
}

textarea {
  width: 100%;
  font-family: "NeoDunggeunmo";
  font-size: 1rem;
  border: none;
  resize: none;
  background-color: #f0f0f0;
  height: 100%;
}
textarea:focus {
  outline: none;
  border-color: #9f9f9f;
  box-shadow: none;
}

.cukemonFeature p {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* 제출 버튼 */
.submitButton {
  position: absolute;
  text-align: center;
  top: 70vh;
  left: 44vw;
}

/* 모바일 반응형 */
@media (max-width: 767px) {
  .makeBackGround {
    background-image: url("/public/MakePage/backgroundMobile.webp");
  }

  .Q1,
  .Q2 {
    padding-top: 2vh;
  }
  .Q1 img,
  .Q2 img {
    width: 28px;
    height: 28px;
  }

  .Q1 h2,
  .Q2 h2 {
    font-size: 3.5vw;
    white-space: nowrap;
  }

  #S1,
  #S2 {
    width: 90%;
    height: 40px;
    font-size: 4vw;
  }

  .cukemonFeature {
    margin-top: 1rem;
  }

  textarea {
    font-size: 4vw;
    height: 100%;
  }

  .submitButton {
    left: 33vw;
  }

  #submit {
    background: none;
    background-image: url("/public/button.png");
    background-size: cover;
    border: none;
    width: 35vw;
    height: 15vw;
  }

  .submitButton p {
    font-size: 15px;
    top: 6vw;
  }
}
