span {
  font-family: "NeoDunggeunmo";
}

.myPage {
  overflow: hidden;
  background-image: url("/public/MyPage/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
}

.item img {
  position: relative;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  padding-right: 0;
}

.item span {
  padding-right: 10px;
}

.item {
  position: absolute;
  color: #efc15c;
  left: 1%;
  top: 0%;
  font-size: 20px;
}

.cukemonImg img {
  position: absolute;
  transition: transform 1s ease-in-out;
  width: clamp(150px, 20%, 300px);
  left: 40vw;
  top: 24vh;
}

.cucketmonProfile {
  width: 22vw;
  text-align: center;
  position: relative;
  top: 37vh;
  left: 72vw;
  margin-bottom: 3%;
  padding-bottom: 0.5%;
  padding-top: 1%;
  font-family: "NeoDunggeunmo";
}

.cucketmonProfile img {
  width: 25px;
  height: 25px;
}

.buttons {
  display: flex;
  margin: 0 auto;
}

#feedButton,
#playButton {
  border: none;
  cursor: pointer;
  position: relative;
  left: 71vw;
  top: 35vh;
  display: inline-block;
  width: 10vw;
  margin-right: 1.5%;
}

#buttonText1 {
  position: relative;
  left: 75.8vw;
  top: 29vh;
  font-size: 1.2vw;
  color: white;
}

#buttonText2 {
  color: white;
  position: relative;
  pointer-events: none;
  font-size: 1.2vw;
  left: 83.5vw;
  top: 29vh;
}

#releaseButton {
  width: 4%;
  position: absolute;
  top: 73vh;
  left: 1vw;
}

#releaseButton:hover {
  filter: brightness(0.7);
}

/*모바일 반응형*/
@media (max-width: 767px) {
  #root,
  body {
    height: 100%;
    padding: 0;
    left: 0;
    top: 0;
  }
  .myPage {
    background-image: url("/public/MyPage/backgroundMobile.webp");
    padding: 0%;
    height: 100vh;
  }

  .item {
    padding-top: 3%;
    margin-bottom: 145.5%;
  }

  #cuketmonImage {
    position: absolute;
    top: 37%;
    width: 35%;
    left: 34%;
  }

  .cucketmonProfile {
    position: absolute;
    top: 53vh;
    left: 25vw;
    margin-left: 0;
    width: 50%;
    margin-top: 5%;
  }

  .cucketmonProfile p {
    font-size: 20px;
  }

  .cucketmonProfile img,
  .cucketmonProfile span {
    width: 10px;
    height: 10px;
    font-size: 14px;
  }

  .buttons {
    width: 100%;
    white-space: nowrap;
  }

  /*먹이주기*/
  #buttonText1 {
    font-size: 10px;
    top: 75.3vh;
    left: 33vw;
  }
  #feedButton {
    position: absolute;
    top: 69vh;
    left: 16vw;
    height: 5vh;
    width: 36vw;
  }

  /*놀아주기*/
  #buttonText2 {
    font-size: 10px;
    top: 74.3vh;
    left: 54vw;
  }
  #playButton {
    position: absolute;
    top: 69vh;
    left: 54vw;
    height: 5vh;
    width: 36vw;
  }

  #releaseButton {
    position: absolute;
    top: 83%;
    width: 12%;
  }
}
