.resultPage {
  background-image: 
  url("/public/MakeResultPage/ResultBack.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

.resultPage #egg {
  position: relative;
  width: 180px;
  padding-top: 269px;
  left: 685px;
}

.showHpBar{

}
.showExtraImage {
  background-image: url("/public/MakeResultPage/effe.webp");
  position: relative;
  width: 20%;
  padding-top: 23%;
  left: 36%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.chatBox {
  width: 500px;
  position: relative;
  right: -325px;
  bottom: -15.4%;
  
}

.chatBox textarea {
  padding: 12px;
  text-align: left;
  font-size: 40px;
  background-color: white;
  height: 60px;            
  overflow: hidden;
  border-radius: 8px;
  width: 150%;
}

/*깜빡임 에니메이션*/
@keyframes blinkEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinkEffect {
  animation: blinkEffect 2s ease-in-out 4;
}

/* 반응형 */
@media (max-width: 767px) {
 #root,
  body {
    height: 100%;
    padding: 0;
  }

  .resultPage {
    background-image: url("/public/MakeResultPage/M_R.webp");
    flex-direction: column;
    justify-content: center;
    padding-top: 0%;
    height: 100%;
  }

  .resultPage #egg {
    top: 11vh;
    left: 20vw;
    width: 50%;
  }

.chatBox {
  width: 50vw;
  position: relative;
  left: 5%;
  bottom: -25%;
}
.chatBox textarea {
  padding: 12px;
  text-align: left;
  font-size: 12px;
  background-color: white;
  height: 10px;            
  resize: none;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  width:100%;
  box-sizing: border-box;

  }
}
