.resultPage {
  background-image: url("/public/MakePage/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  animation: blinkEffect 1s ease-in-out 2;
}

.resultPage #egg {
  position: relative;
  width: 20%;
  padding-top: 15%;
  left: 40%;
}

.chatBox {
  width: 80vw;
  position: relative;
  margin-left: 10vw;
}
.chatBox textarea {
  padding-bottom: 9vh;
  text-align: center;
}

/*깜빡임 에니메이션*/
@keyframes blinkEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinkEffect {
  animation: blinkEffect 2s ease-in-out 4;
}

/* 반응형 */
@media (max-width: 767px) {
  .resultPage #egg {
    top: 37vh;
    left: 27vw;
    width: 50%;
  }

  .chatBox {
    width: 100vw;
    margin-left: 0;
    top: 38vh;
  }
}
