.resultPage {
  background-image: 
   url("/public/MakeResultPage/Ground.webp"),
   url("/public/MakeResultPage/ResultBack.webp");

  background-size: 30%, cover;
  background-position: left 50% bottom 43%, center;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: start;
  padding-top: 7vh;
  padding-left: 7vw;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  width: 75vw;
  height: 100vh;
  overflow: hidden;
  animation: blinkEffect 1s ease-in-out 2;
}

.resultPage #egg {
  position: relative;
  width: 10%;
  padding-top: 25%;
  left: 40%;
}

.chatBox {
  width: 10vw;
  position: relative;
  margin-left: 25%;
  bottom: 1%;

}
.chatBox textarea {
  padding-bottom: 9vh;
  text-align: center;
}

/*깜빡임 에니메이션*/
@keyframes blinkEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinkEffect {
  animation: blinkEffect 2s ease-in-out 4;
}

/* 반응형 */
@media (max-width: 767px) {
  .resultPage #egg {
    top: 37vh;
    left: 27vw;
    width: 50%;
  }

  .chatBox {
    width: 100vw;
    margin-left: 0;
    top: 38vh;
  }
}
