/*로그인화면 CSS*/
html {
  background-color: black;
}

.App {
  width: 100vw;
  height: 100vh;
  padding-bottom: 10%;
  overflow: hidden;
  background-image: url("/public/LoginPage/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#webLogo {
  padding-left: 23%;
  width: 50%;
  margin-top: 10%;
}

.buttonContainer .buttonImage {
  position: absolute;
  top: 67%;
  left: 41%;
  width: 22%;
}

.buttonContainer .buttonImage:hover {
  content: url("/public/button-hover.png");
  width: 22%;
  z-index: 0;
}

.buttonText {
  position: absolute;
  top: 75.9%;
  left: 49.5%;
  font-size: 12px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

/*모바일 반응형*/
@media screen and (min-width: 375px) and (max-width: 1024px) {
  html {
    background-color: black;
  }
  .App {
    overflow: hidden;
    background-image: url("/public/LoginPage/background.png") !important;
    padding-top: 0;
    text-align: center;
    padding-left: 0;

    background-size: cover;
    background-position: center center;
    padding-bottom: 0%;
  }

  #webLogo {
    width: 90%;
    padding-top: 40%;
    padding-left: 0;
  }

  .buttonContainer .buttonImage {
    position: absolute;
    width: 40%;
    left: 30%;
  }

  .buttonContainer .buttonImage:hover {
    content: url("/public/button-hover.png");
    padding-top: 0%;
    z-index: 0;
    width: 40%;
  }

  .buttonText {
    position: fixed;
    top: 70.5%;
    left: 44.9%;
    font-size: 7px;
    font-weight: bold;
    color: white;
    z-index: 1;
  }
}
