.myPage {
  overflow: hidden;
  background-image: url("/public/MyPage/background3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.item img {
  width: 25px;
  height: 25px;
  padding-right: 0;
}

.item span {
  padding-right: 10px;
}

.item {
  color: #efc15c;
  margin-bottom: 18%;
  padding-left: 1%;
  font-size: 20px;
  padding-top: 12%;
}

#cuketmonImage {
  position: absolute;
  margin-left: 44%;
  width: 180px;
  height: 180px;
  top: 40%;
}

.cucketmon_profile {
  background-image: url("/public/MyPage/cukemon_profile.png");
  background-size: 100% 110%;
  border: 2px solid #bab8b8;
  width: 22%;
  text-align: center;
  margin-left: 71%;
  background-color: #d9d9d9;
  margin-bottom: 14%;
  padding-bottom: 0.35%;
}

.cucketmon_profile img {
  width: 25px;
  height: 25px;
}

.buttons {
  position: absolute;
  top: 58%;
  left: 70%;
}

#feedButton,
#playButton {
  width: 40%;
  padding-bottom: 5px;
}

#feedButton:hover,
#playButton:hover {
  content: url("/public/button-hover.png");
}

#cuketmonImage {
  transition: transform 1s ease-in-out;
}

.buttons #button-text1 {
  position: fixed;
  color: white;
  top: 62.5%;
  left: 75%;
  pointer-events: none;
}
.buttons #button-text2 {
  position: fixed;
  color: white;
  top: 62.5%;
  left: 87%;
  pointer-events: none;
}

/*밥주기 움직임*/
.moveImage {
  animation: moveUpDown 1s ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*놀아주기 움직임*/
.shakeImage {
  animation: shakeLeftRight 1s ease-in-out;
}

@keyframes shakeLeftRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-10px) rotate(-10deg);
  }
  50% {
    transform: translateX(10px) rotate(10deg);
  }
  75% {
    transform: translateX(-10px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/*모바일 반응형*/
@media screen and (min-width: 375px) and (max-width: 1024px) {
  .myPage {
    background-image: url("/public/MyPage/background3mobile.png");
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item {
    padding-top: 2.5%;
  }

  #cuketmonImage {
    margin-left: 30%;
  }

  .cucketmon_profile {
    position: absolute;
    top: 62%;
    left: 27%;
    margin-left: 0;
    width: 50%;
  }
  .buttons {
    top: 75%;
    left: 20%;
  }

  .buttons #button-text1 {
    top: 77%;
    left: 32%;
  }
  .buttons #button-text2 {
    top: 77%;
    left: 65%;
  }
}
