.hpBarContainer {
  width: 18vw;
  height: 8vw;
  background: url("../../../public/BattlePage/Blue_HPBar.webp") no-repeat;
  background-size: contain; 
}

.hpName {
  font-weight: bold;
  font-size: 1.5vw;
  margin-bottom: 4px;
  color: #222;
  margin-left: 1vw;
  margin-top: 0.9vw;

}

.hpBarOuter {
  width: 10.3vw;
  height: 0.8vw;
  background-color: #ddd;
  border: 2px solid #444;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 6.5vw;
}

.hpBarInner {
  height: 100%;
  transition: width 0.2s linear;
}

.hpText {
  margin-right: 3vw;
  text-align: right;
  font-weight: bold;
}
