.ranking {
  background-image: url("/public/RankingPage/background1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.rankingBoard {
  position: absolute;
  text-align: center;
  font-size: 17px;
  width: 100vw;
  top: 10vh;
}

.cukemonImageContainer {
  position: relative;
  margin-top: 5%;
  transition: transform 0.2s;
}

.cukemonImageContainer img {
  width: 7vw;
  height: 7vw;
}

.cukemonImage:hover {
  transform: scale(1.05);
}

.historyBoard {
  position: relative;
  width: 605px;
  height: 340px;
  border-collapse: collapse;
  background-image: url("/public/RankingPage/rankingboard.webp");
  background-size: cover;
  background-repeat: no-repeat;
  left: 30vw;
  color: white;
}

.historyBoard .trainerName {
  padding-top: 8vh;
  font-size: 1.5vw;
  text-shadow: -3px -3px 0 #041430, -3px -2px 0 #041430, -3px -1px 0 #041430,
    -3px 0px 0 #041430, -3px 1px 0 #041430, -3px 2px 0 #041430,
    -3px 3px 0 #041430, 3px -3px 0 #041430, 3px -2px 0 #041430,
    3px -1px 0 #041430, 3px 0px 0 #041430, 3px 1px 0 #041430, 3px 2px 0 #041430,
    3px 3px 0 #041430, -2px -3px 0 #041430, -1px -3px 0 #041430,
    0px -3px 0 #041430, 1px -3px 0 #041430, 2px -3px 0 #041430,
    -2px 3px 0 #041430, -1px 3px 0 #041430, 0px 3px 0 #041430, 1px 3px 0 #041430,
    2px 3px 0 #041430;
  padding-bottom: 1.3vw;
}
.historyBoard .row1,
.historyBoard .row2,
.historyBoard .row3,
.historyBoard .row4 {
  display: flex;
  margin-top: 3.4vh;
  white-space: nowrap;
}

.historyBoard .row1 {
  position: relative;
  gap: 76%;
  margin-left: 5vw;
}

.historyBoard .row2 {
  gap: 58%;
  margin-top: 5%;
  margin-left: 16%;
}

.historyBoard .row3 {
  margin-top: 5%;
  gap: 75%;
  margin-left: 5.5vw;
}
.historyBoard .row4 {
  margin-top: 5%;
  gap: 72%;
  margin-left: 5.9vw;
}
/*모바일 반응형*/
@media (max-width: 767px) {
  #root,
  body {
    height: 100%;
    padding: 0;
  }

  .ranking {
    height: 100%;
    background-image: url("/public/RankingPage/backgroundMobile.webp");
    flex-direction: column;
    justify-content: center;
    padding-top: 0%;
    height: 100%;
  }

  .rankingBoard {
    font-size: 17px;
    top: 20%;
    padding-bottom: 0;
  }

  .cukemonImageContainer {
    white-space: nowrap;
    width: 100vw;
    left: 0vw;
  }
  .cukemonImageContainer img {
    width: 14vw;
    height: 14vw;
  }

  .historyBoard {
    background-image: url("/public/RankingPage/rankingboardMobile.webp");
    background-size: contain;
    left: 10vw;
    width: 80vw;
  }

  .historyBoard .trainerName {
    font-size: 20px;
    padding-top: 3.2vh;
    margin-bottom: 10vw;
  }
  .historyBoard .row1,
  .historyBoard .row2,
  .historyBoard .row3,
  .historyBoard .row4 {
    margin-top: 0;
    margin-bottom: 2.9vh;
    font-size: 3.5vw;
  }
  .historyBoard .row2 {
    gap: 50%;
    margin-left: 7vw;
  }
  .historyBoard .row4 {
    gap: 70%;
  }
}
